.header {
    &-container {
    }

    &-block {
        display: flex;
        width: 100%;
        background-color: var(--primary-color);
        align-items: center;
        color: var(--secondary-color);
        padding: 0em 1em;
        justify-content: space-around;
        flex-flow: wrap;
    }

    &-img{
        &-block{
            display: flex;
            align-items: center;

            .page-logo{
                max-width: 100px;
                display: flex;

                img {
                    max-width: 100%;
                }
            }
        }        
    }

    &-title {
        &-block {
            display: flex;
            align-items: center;            

            .title{
                font-family: var(--logo-font);
                font-size: 5rem;
                text-align: center;
            }
        }
    }

    &-social{
        &-block{
            display: flex;
            align-items: center;
            font-size: 2rem;
            flex-flow: wrap;

            i {
                color: var(--secondary-color);
                margin: 0px 0.5rem;

                &:hover {
                    color: var(--action-color);
                    cursor: pointer;
                }
            }
        }
    }
}

.header-nav,
.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-nav {
    position: relative;
    background-color: var(--background-color);
    padding: 0.5rem;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
}

.header-menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.header-nav input:checked ~ .header-menu {
    width: 300px;
}

.header-menu {
    /* li {
        list-style: none;
        margin: 0 10px;

        a {
            text-decoration: none;
            color: #311512;
            text-transform: uppercase;
            font-weight: 600;
            transition: 0.5s;

            &:hover{
                color: #161919;
            }
        }
    } */

    li {
        list-style: none;
        padding: 2px 0;
        margin: 0 10px;

        a {
            position: relative;
            display: block;
            padding: 4px 0;
            color: var(--secondary-color);
            text-decoration: none;
            text-transform: uppercase;
            transition: 0.5s;
            font-weight: 600;

            &::after {
                position: absolute;
                content: "";
                top: 100%;
                left: 0;
                width: 100%;
                height: 3px;
                background: var(--primary-color);
                transform: scaleX(0);
                transform-origin: right;
                transition: transform 0.5s;
            }

            &:hover {
                color: #98cecc;
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }
}

.header-nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.header-nav span {
    position: absolute;
    left: 13px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: var(--secondary-color);
    pointer-events: none;
    transition: 0.5s;
}

.header-nav input:checked ~ span {
    background-color: red;
}

.header-nav span:nth-child(2) {
    transform: translateY(-8px);
}

.header-nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.header-nav span:nth-child(3) {
    transform: translateY(8px);
}

.header-nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}
