<head>
    <script defer src="/js/fontawesome.js"></script>
</head>

<div class="header-container">
    <div class="header-block">   
        
        <div class="header-nav">
            <input type="checkbox">
              <span></span>
              <span></span>
              <div class="header-menu">
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Mídias</a></li>
                <li><a href="#">Contato</a></li>
              </div>
          </div>

        <div class="header-title-block">
            <div class="header-title-img">
                <img src="../../../assets/img/layout/fran-organizer-logo.jpg">
            </div>
            <div class="header-title-text">
                Fran Personal Organizer
            </div>
        </div>

        <div class="header-social-block">
            <a title="Instagram" href="https://www.instagram.com/fran_organizer2" target="_blank"><i class="bi bi-instagram"></i></a>
            <a title="Facebook" href="https://www.facebook.com/ffran.organizer" target="_blank"><i class="bi bi-facebook"></i></a>
            <a title="WhatsApp" href="https://api.whatsapp.com/send?phone=5516992961888&text=Ol%C3%A1%20Francisca,%20gostaria%20de%20falar%20sobre%20seus%20servi%C3%A7os!" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a title="E-mail" href="mailto: ffranorganizer@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
        </div>

        
    </div>

</div>