:root {
    //FONTS
    --primary-font: 'Roboto';
    --title-font: 'Kodchasan';
    --logo-font: 'Expletus Sans';
    

    //COLORS
    --primary-color: rgb(0,255,255,0.41);
    --primary-color2: #02f3f3;
    --secondary-color: #20121c;
    --terciary-color: black;
    --background-color: white;
    --action-color: rgb(255, 0, 255);
}
