.profile {
    &-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 100%;
        text-align: center;
    }

    &-title {
    }

    &-img {
        .img-block {
            flex-shrink: 0;
            margin: 20px;
            width: calc(150px + 10vw);
            border: calc(8px + 0.2vw) solid transparent;
            background-origin: border-box;
            background-size: cover;
            box-sizing: border-box;
            background-image: linear-gradient(to bottom left, #00ffff, var(--secondary-color));
            border-radius: 50% 10%;

            img {
                width: 100%;
                border-radius: 50% 10%;
            }
        }
    }

    &-contact {
        .social {
            &-block {
                max-width: 100%;
                min-width: 50%;
                justify-content: space-between;
                flex-flow: wrap;
                padding: 0.5rem 0rem !important;
            }

            &-button {
                width: 160px;
            }
        }
    }

    &-location {
        &-block {
            width: 100%;
            flex-flow: column;
        }

        .search-city {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            flex-flow: wrap;
            margin-bottom: 1rem;

            .block {
                display: flex;
                width: 100%;
                flex-flow: wrap;
                align-items: center;
                justify-content: center;
            }

            .label {
                min-width: 180px;
                max-width: 100%;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }

            .input {
                min-width: 30%;
                max-width: 100%;
                width: unset;
            }

            .button {
            }
        }

        .city-group {
            &-block {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: wrap;
                width: 100%;
                flex-direction: row;
                margin-bottom: 1rem;

                .city {
                    &-item {
                        background-color: var(--secondary-color);
                        color: var(--primary-color2);
                        border: solid 0.2rem var(--primary-color2);
                        padding: 0.2rem 0.5rem;
                        border-radius: 1rem;
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        font-weight: bold;
                        width: -moz-fit-content;
                        width: fit-content;
                        box-shadow: 3px 3px 5px #4d4d4d;
                        margin: 0rem 0.2rem;
                        max-width: 100%;
                        word-break: break-word;
                        margin-bottom: 0.5rem;

                        &:hover {
                            color: var(--action-color);
                            border: solid 0.2rem var(--action-color);
                            cursor: pointer;
                        }
                    }

                    &-name {
                    }
                }
            }
        }
    }

    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;

        .item {
            display: flex;
            font-size: 1.5em;
            align-items: center;
            padding: 0.5em;
        }

        .icon {
            font-size: 2.5rem;
            margin-right: 0.5em;
            color: rgb(197 0 197);
            display: flex;
        }

        .subtitle {
        }
    }
}

.google-map-block {
    display: flex;
    width: 100%;
    overflow: overlay;
    justify-content: center;
}

@media (max-width: 600px){
    .profile-license-item{
        flex-direction: column;
    }
}
