/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

$primary-font: sans-serif;
$primary-color: #98cecc;
$secondary-color: black;
$terciary-color: #311512;

body{
    margin: 0px;
    font-family: $primary-font;
}